.card-container {
  display: flex;
  gap: 0.25rem;
  position: relative;
}

.card-grid {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  gap: 1px;
}

.card {
  position: relative;

  border: 1px solid var(--warning);
  padding: 10px;
}

.card-image img {
  width: 100px;
  height: 100px;
}

.card-content {
  display: block;

  padding: 0.5rem;
  width: 100px;
  height: 150px;
  text-transform: uppercase;
  /* FIXME: */
  display: flex;
  flex-direction: column;
  text-align: left;
}

.card-content span {
  /* FIXME: linha abaixo do texto */
  font-size: 0.65rem;
  padding: 0.15rem 0;
  width: 100%;
}

.price {
  position: absolute;
  top: -12px;
  left: -6px;
  background: var(--secondary);
  color: var(--dark);
  padding: 4px;
  rotate: -28deg;
  font-size: 0.75rem;
  line-height: 1;
  font-weight: 700;
  box-shadow: var(--shadow);
}
