.game-container {
  margin-bottom: 2rem;
}

.game-menu {
  position: sticky;
  display: flex;
  bottom: 0;
  left: 0;
  z-index: 1;
  flex-wrap: wrap;
  gap: 1px;
  justify-content: center;
}

.game-fight,
.game-fight-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}

.game-fight {
  gap: 1.8rem;
}

.game-fight-menu {
  margin-top: 1rem;
  gap: 1px;
}

.game-fight-log {
  overflow-y: auto;
  background: var(--dark);
  font-family: monospace;
  margin-top: 1rem;
  height: 100px;
  display: block;
  border: 2px solid var(--darkest);
}

.game-fight-log p {
  border-bottom: 2px solid var(--dark);
  margin-left: 10px;
  font-size: 0.75rem;
  margin-bottom: 0;
}

.menu-select {
  display: flex;
  justify-content: center;
  margin: 1rem 0;
  gap: 1px;
}

.message {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 300;
  width: 100%;
  background: var(--dark);
  padding: 1rem;
  display: none;
  transform: translateY(-60px);
  opacity: 0;
}

.message.success {
  color: var(--green);
}

.message.warning {
  color: var(--warning);
}

.message.error {
  color: var(--error);
}

.message.success,
.message.warning,
.message.error {
  animation: showUp 0.2s forwards;
  animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  display: block;
}

@keyframes showUp {
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

.level-up {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transform: translateY(-30px);
  opacity: 0;
}

.level-up.active {
  animation: levelUp 0.6s forwards;
  animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  top: -30px;
}

.level-up span {
  background: var(--secondary);
  color: var(--dark);
  padding: 1rem;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  width: 200px;
  justify-content: center;
}

@keyframes levelUp {
  0% {
    transform: translateY(-30px);
  }

  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
