.hero {
  border: 2px solid var(--dark);
  padding: 1rem;
}

.hero-inline-container {
  display: flex;
  background: var(--secondary);
  align-items: center;
  position: sticky;
  top: 0;
  left: 0;
}

.hero-inline {
  align-items: center;
  background: var(--secondary);
  color: var(--dark);
  display: grid;
  flex: 1;
  gap: 4px;
  grid-template-columns: repeat(7, 1fr);
  justify-content: space-between;
  left: 0;
  padding: 0 0.75rem;
  position: sticky;
  top: 0;
}

.hero-inline span {
  font-size: 0.85rem;
  line-height: 1.4;
}
