.position {
  margin: 0 10px;
}

.position.active {
  background-color: var(--dark);
  color: var(--green);
}

.position.pass {
  opacity: 0.25;
}
.position.code {
  color: var(--green);
}
.position.chest {
  color: var(--warning);
}
.position.enemy {
  color: var(--error);
}
.position.item {
  color: var(--info);
}
.position.trap {
  color: var(--tertiary);
}
