.modal-container {
  background-color: var(--opacity80);
  display: none;
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
}

.modal-container.active {
  display: block;
}

.modal {
  position: fixed;
  bottom: 0;
  left: 0;
  background: var(--dark);
  width: 100%;
  transform: translateY(40px);
  opacity: 0;
  padding: 2rem;
}

.modal.active {
  animation: showUp 0.2s forwards;
  animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}

@keyframes showUp {
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
