.modal-container {
  background-color: var(--opacity80);
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  opacity: 0;
  display: none;
}

.modal-container.active {
  animation: fadeIn 0.1s forwards;
  animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  display: flex;
}

.modal {
  position: fixed;
  bottom: 0;
  left: 0;
  background: var(--dark);
  width: 100%;
  transform: translateY(40px);
  opacity: 0;
  /* padding: 2rem; */
  display: none;
  border-top: 2px solid var(--primary);
  overflow-y: scroll;
  min-height: 366px;
  max-height: 80vh;
  margin-top: 100px;
}

.modal.active {
  animation: showUp 0.2s forwards;
  animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  display: block;
}

.modal-confirm-container.active {
  animation: fadeIn 0.1s forwards;
  animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  display: flex;
}

.modal-confirm-container {
  background-color: var(--opacity80);
  width: 100%;
  height: 100vh;
  z-index: 100;
  position: fixed;
  opacity: 0;
  display: none;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
}

.modal-confirm {
  background: var(--light);
  color: var(--dark);
  padding: 2rem;
}

.modal-confirm > div {
  gap: 1px;
}

@keyframes showUp {
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.modal-header {
  position: sticky;
  left: 0;
  top: 0;
  background: var(--light);
  color: var(--dark);
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-bottom: 1rem;
}
.modal-header h1,
.modal-header h2,
.modal-header h3,
.modal-header h4,
.modal-header h5,
.modal-header p {
  margin: 0;
}
